study-cases/output/relationProblem2.xml

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml">
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/3.0.0/base/feature.xsd"/>
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="C" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="R2" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="ref"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="X" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="S" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="A">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="R1" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="B">
																	<xs:complexType/>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="keyC">
			<xs:selector xpath=".//C"/>
			<xs:field xpath="id"/>
		</xs:key>
		<xs:key name="keyB">
			<xs:selector xpath=".//B"/>
			<xs:field xpath="id"/>
		</xs:key>
		<xs:key name="keyX">
			<xs:selector xpath=".//X"/>
			<xs:field xpath="id"/>
		</xs:key>
		<xs:key name="keyA">
			<xs:selector xpath=".//A"/>
			<xs:field xpath="id"/>
		</xs:key>
		<xs:keyref name="keyrefB" refer="keyB">
			<xs:selector xpath=".//R1"/>
			<xs:field xpath="@ref"/>
		</xs:keyref>
	</xs:element>
</xs:schema>
